/.idea/

/.gradle/
/*/build/
/build/

!/parlio-tweede-kamer-graphql-api/build/
/parlio-tweede-kamer-graphql-api/build/*
!/parlio-tweede-kamer-graphql-api/build/generated/
/parlio-tweede-kamer-graphql-api/build/generated/*
!/parlio-tweede-kamer-graphql-api/build/generated/jooq/
